.form {
	display: inline-block;
	position: all;
	width: 30%;
	display: flex;
	border-style: solid;
	float: right;
}

button {
	position: right;
	position: all;
	margin: auto;
	float: right;
	padding: 8px;
}

p {
	color: red;
	text-align: center;
}

#butt {
	background-color: green;
	border-radius: 100px;
}